{{ $prefers_color_scheme := false }}
{{ with .Site.Params.style }}
    {{ if eq .theme "light" }}
        // if dark theme exits it is priortized
        {{ with .lightTheme }}
            :root {
                --sidebar-color: {{ .sidebarColor }};
                --background-color: {{ .backgroundColor }};
                --text-color: {{ .textColor }};
                --heading-text-color: {{ .headingTextColor }};
                --primary-color: {{ .primaryColor }};
                --comment-box-color: {{ .commentBoxColor }};
            }
            // default light theme colors TODO
            $sidebar-color: var(--sidebar-color, "#242930");
            $background-color: var(--background-color, "#353b43");
            $text-color: var(--text-color, "#afbac4");
            $heading-text-color: var(--heading-text-color, "#ffffff");
            $primary-color: var(--primary-color, "#57cc8a");
            $comments-color: var(--comment-box-color, "#ffffff");
        {{ end }}
    {{ else if eq .theme "dark" }}
        {{ with .darkTheme }}
            :root {
                --sidebar-color: {{ .sidebarColor }};
                --background-color: {{ .backgroundColor }};
                --text-color: {{ .textColor }};
                --heading-text-color: {{ .headingTextColor }};
                --primary-color: {{ .primaryColor }};
                --comment-box-color: {{ .commentBoxColor }};
            }
            // default dark theme colors
            $sidebar-color: var(--sidebar-color, "#242930");
            $background-color: var(--background-color, "#353b43");
            $text-color: var(--text-color, "#afbac4");
            $heading-text-color: var(--heading-text-color, "#ffffff");
            $primary-color: var(--primary-color, "#57cc8a");
            $comments-color: var(--comment-box-color, "#ffffff");
        {{ end }}
    {{ else }}
        {{ $prefers_color_scheme = true }}
    {{ end }}
{{ else }}
    // no theme specified assume prefres-color-theme
    {{ $prefers_color_scheme = true }}
{{ end }}

{{ if $prefers_color_scheme }}
    @media (prefers-color-scheme: dark){
        {{ with .Site.Params.style.darkTheme }}
            :root {
                --sidebar-color: {{ .sidebarColor }};
                --background-color: {{ .backgroundColor }};
                --text-color: {{ .textColor }};
                --heading-text-color: {{ .headingTextColor }};
                --primary-color: {{ .primaryColor }};
                --comment-box-color: {{ .commentBoxColor }};
            }
        {{ end }}
    }
    @media (prefers-color-scheme: light){
        {{ with .Site.Params.style.lightTheme }}
            :root {
                --sidebar-color: {{ .sidebarColor }};
                --background-color: {{ .backgroundColor }};
                --text-color: {{ .textColor }};
                --heading-text-color: {{ .headingTextColor }};
                --primary-color: {{ .primaryColor }};
                --comment-box-color: {{ .commentBoxColor }};
            }
        {{ end }}
    }
    // default fallback dark theme colors
    $sidebar-color: var(--sidebar-color, "#242930");
    $background-color: var(--background-color, "#353b43");
    $text-color: var(--text-color, "#afbac4");
    $heading-text-color: var(--heading-text-color, "#ffffff");
    $primary-color: var(--primary-color, "#57cc8a");
    $comments-color: var(--comment-box-color, "#ffffff");
{{ end }}


// for ::selection defined in _base.scss var doesn't work
$selection-text-color: {{ .Site.Params.darkTheme.lightColor | default "#afbac4" }};

@import 'base';

@import 'components/app';
@import 'components/error_404';
@import 'components/icon';
@import 'components/pagination';
@import 'components/post';
@import 'components/posts_list';
@import 'components/tag';
@import 'components/tags_list';
@import 'components/comments';

// The last 'extra' import can optionally be overridden on a per project
// basis by creating a <HUGO_PROJECT>/assets/css/_extra.scss file.
@import 'extra';
